@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

.posts-container {
    margin-left: 400px;
    margin-right: 400px;
}

.posts-header {
    margin-top: 150px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.posts-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 1.1;
}

.main-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.main-img img {
    width: 850px;
    min-width: 850px;
    max-width: 850px;
}

.author-info {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.social-icons {
    position: absolute;
    right: 0;
    margin: 20px
}

.info-text {
    margin: 20px
}

.info-specific {
    display: flex;
    flex-direction: row;
}

.author-img {
    border-radius: 50%;
    width: 70px;
    height: 100%;
}

#github {
    margin-right: 10px;
}

#linkedin {
    margin-right: 10px;
}

#twitter {
    margin-right: 10px;
}

.main-content {
    margin-top: 50px;
    margin-bottom: 50px;
}

.main-content a {
    font-family: 'Merriweather', serif;
    color: rgb(98, 132, 149);
    text-decoration: underline;
    font-weight: 300;
    cursor: pointer;
}

.main-content p {
    font-size: 18px;
    font-family: 'Merriweather', serif;
}

.main-content pre {
    background: rgba(172, 230, 255, 0.26);
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
}

.main-content code {
    background: rgba(172, 230, 255, 0.26);
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
}

.main-content h2 {
    font-family: 'Merriweather', serif;
}

.main-content b {
    font-size: 18px;
    font-family: 'Merriweather', serif;
}

.table {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 20px;
}

.sub-table {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 10px;
    font-size: 16px;
}

.sub-table a {
    margin: 5px;
}

.sub-table p {
    font-size: 16px;
}

@media screen and (max-width: 1000px ) {

    .posts-header {
        margin-top: 100px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .posts-title {
        font-size: 30px;
        min-width: 300px;
    }

    .posts-container {
        margin-right: 10px;
        margin-left: 10px;
    }

    .main-img img {
        width: 150%;
        min-width: 150%;
        max-width: 150%;
    }

    .author-img {
        border-radius: 50%;
        width: 70px;
        height: 100%;
    }

    .main-content p {
        font-size: 16px;
    }

    .info-specific {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 900px) {
    .social-icons {
        display: none;
    }
}

@media screen and (max-width: 760px) {

    .info-text {
        width: 100%;
        padding-right: 0;
        margin: 10px 20px 0 20px
    }
}

@media (max-width: 400px) {

    .main-img img {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }
}