.featured-post {
    width: 400px;
    position: fixed;
    right: 100px;
    top: 120px;
    background: #f1f1f1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.featured-row {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

@media screen and (max-width: 1380px) {
    .featured-post {
        display: none ;
    }
}