.nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    min-height: 5vh;
    background-color: #8CBBD4;
}

.nav-links {
    right: 0;
    padding-right: 10%;
    padding-top: 22px;
    display: flex;
    justify-content: space-between;
    position: absolute;
}

.nav-links li {
    padding-left: 50px
}

.logo {
    text-align: center;
    padding: 20px;
    font-size: 22px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

@media screen and (max-width: 760px) {
    .nav-links li {
        display: none;
    }
}