
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

.blogcard-all {
    padding-top: 50px;
}

.blogcard {
    background: #f1f1f1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 700px;
    min-width: 700px;
}

.blogcard-image {
    max-width: 300px;
    min-width: 300px;
    max-height: 200px;
    min-height: 200px;
}

.blogcard-title {
    padding: 20px 20px 10px
}

.blogcard-about {
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 300px
}

.blogcard-about button {
    background: rgba(172, 230, 255, 0.26);
    font-family: 'Roboto Mono', monospace;
    transform: scale(0.9);
}

.blogcard-date {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-size: 14px;
}

.blogcard-profile {
    border-radius: 50%;
    height: 50px;
    padding: 20px;
}

.blogcard-issue {
    padding-top: 27px
}

@media screen and (max-width: 760px) {
    .blogcard-image {
        height: 100%;
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    h1 {
        text-align: center;
    }

    .blogcard {
        max-width: 100%;
        min-width: auto;
    }

    .image-container {
        padding-left: 25px;
        padding-right: 25px
    }
}